{% extends 'layout/base.html' %}
{% block 'title' %} Error del Servidor {% endblock %}

{% block 'body' %}

<main>
    <div class="container">

      <section class="m-auto text-center col-lg-6 section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1> Ups!!!</h1>
        <h2> Server Error </h2>

        <img src="/static/assets/img/logo.png" class="img-fluid py-5" alt="Server error">
        <a class="btn" href="{% url 'home' %}">Volver al inicio</a>
        
      </section>

    </div>
</main>

{% endblock %}