{% extends 'layout/base.html' %}
{% block 'title' %} Home {% endblock %}

{% block 'content' %}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card w-50 my-4 p-5">
                <div class="card-body">
                    <h5 class="card-title text-center py-3">Welcome {{request.user.username|upper }} to Inventory System!</h5>
                    <div class="d-flex justify-content-center py-3">
                        {% if request.user.is_superuser %}
                        <a href="{% url 'items' %}" class="btn btn-secondary mx-2 fs-2 px-5 py-3">All Items</a>

                        <a href="{% url 'inventories' %}" class="btn btn-secondary mx-2 fs-2 px-5 py-3">All Inventories</a>
                        {% else %}

                        <a href="{% url 'deptitems' id=request.user.id %}" class="btn btn-secondary mx-2 fs-2 px-5 py-3">GO TO Inventory</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}